#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_title{
    color: dimgray;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.search_field{
    display: flex;
    justify-content: center;
}
.search_input{
    border-color: coral;
    border-top-left-radius: 5px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-style: solid;
}
.search_button{
    justify-content: center;
    color: white;
    background: darkorange;
    border-color: darkorange;
    border-style: solid;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}