body{
    height: 100vh;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.colors_button{
    margin-right: 30px;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #fff;
}