body{
    height: 100vh;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.counter_value{
    margin-left: 10px;
    margin-right: 10px;
    color: dimgray;
}
.counter_button{
    width: 30px;
    height: 30px;
    background: chartreuse;
    border: 1px solid chartreuse;
    border-radius: 5px;
}